* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header, footer {
  background-color: green;
}

h2 {
  font-size: 40px;
  padding: 60px;
  text-align: center;
  color: white;
}

nav {
  background-color: rgb(107, 228, 107);
  width: 10%;
  padding: 60px 20px;
  float: left;
  height: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

article {
  float: left;
  padding: 20px;
  width: 85%;
}

form div {
  padding-top: 20px;
}

label, h1 {
  color: green;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
}

[type='text'], [type='email'], textarea {
  width: 30%;
}

[type='submit'] {
  background-color: rgb(107, 228, 107);
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 20px;
}

footer {
  float: left;
  text-align: center;
  padding: 30px;
  width: 100%;
  color: white;
}